__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.streamlit/secrets.toml
*.db
*.sqlite
*.sqlite3

logs/*
!logs/.gitkeep
output/*
!output/.gitkeep
context/project_schemas/*
!context/project_schemas/.gitkeep

.idea/
test_project/
